# See https://help.github.com/ignore-files/ for more about ignoring files.


# may want to include if planning on deploying through github
# dependencies
node_modules

# production
dist

# styling
app.css.map