// Color Variables
$color-brown-light: #adae89;
$color-brown-dark: #474838;
$color-white-light: #fafaee;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.App {
  width: 100vw;
  height: 100vh;
}

// Navbar
.Navbar {
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-brown-dark;

  &-brand {
    padding-left: 10px;
    float: left;
  }

  &-links {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
  }

  &-link {
    text-decoration: none;
    color: $color-brown-light;
  }
}

// Home Page
.homePage {
  height: 95vh;
  width: 100vw;
  background-color: $color-brown-light;
  display: flex;
  justify-content: center;
  align-items: center;

  &-content {
    color: $color-brown-dark;
  }

  &-header {
    font-size: 4rem;
  }

  &-lead {
    font-size: 2rem;
  }

  &-links {
    margin-top: 30px;
  }

  &-link {
    text-decoration: none;
    color: inherit;
    font-size: 1.8rem;
    background-color: $color-white-light;
    padding: 2px 4px 2px 4px;
    border-radius: 10px;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

// Bug Page
.bugPage {
  height: 95vh;
  width: 100vw;
  background-color: $color-brown-light;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-content {
    color: $color-brown-dark;
    width: 50%;
    margin-top: 40px;
  }

  &-title {
    font-size: 3rem;
  }

  &-project {
    font-size: 2rem;
    margin-top: 20px;
  }

  &-author {
    font-size: 2rem;
    margin-top: 20px;
  }

  &-description {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &-link {
    text-decoration: none;
    color: inherit;
    font-size: 1.8rem;
    background-color: $color-white-light;
    padding: 2px 4px 2px 4px;
    border-radius: 10px;
    margin-top: 20px;
  }
}

// Bugs Page
.bugsPage {
  height: 95vh;
  width: 100vw;
  background-color: $color-brown-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &-content {
    margin-top: 20px;
    color: $color-brown-dark;
  }

  &-title {
    font-size: 3rem;
  }

  &-project {
    font-size: 3rem;
  }

  &-author {
    font-size: 3rem;
  }

  &-description {
    font-size: 3rem;
  }

  &-list {
    margin-top: 20px;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  &-link {
    margin-top: 20px;
    margin-bottom: 10px;
    text-decoration: none;
    color: inherit;
    font-size: 1.8rem;
    background-color: $color-white-light;
    padding: 2px 4px 2px 4px;
    border-radius: 10px;
  }
}

.BugItem {
  border: 2px solid $color-white-light;
  background-color: $color-white-light;
  border-radius: 25px;
  height: 20vh;
  width: 25vw;
  margin: 10px 10px;
  padding: 5px 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-title {
    margin-top: 10px;
    font-size: 2.2rem;
  }

  &-author {
    position: absolute;
    bottom: 8px;
    left: 10px;
    font-size: 1.5rem;
  }

  &-project {
    margin-top: 10px;
    font-size: 1.9rem;
  }

  &-links {
    position: absolute;
    bottom: 8px;
    right: 10px;
  }

  &-link {
    margin-top: 20px;
    margin-bottom: 10px;
    text-decoration: none;
    color: $color-white-light;
    font-size: 1.8rem;
    background-color: $color-brown-light;
    padding: 2px 4px 2px 4px;
    border-radius: 10px;
  }
}

// CreateBug Form
.createbugPage {
  height: 95vh;
  width: 100vw;
  background-color: $color-brown-light;
  display: flex;
  flex-direction: column;

  &-content {
    color: $color-brown-dark;
  }

  &-header {
    font-size: 4rem;
  }

  &-lead {
    font-size: 2rem;
  }

  &-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-formgroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:not(:last-child) {
      margin-top: 20px;
    }
  }

  &-label {
    font-size: 1.2rem;
  }

  &-input {
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
    padding: 5px 5px;
  }

  &-textarea {
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 5px 5px;
    width: 300px;
    height: 100px;
  }

  &-form-text {
    font-size: 0.9rem;
  }

  &-submit {
    text-decoration: none;
    color: inherit;
    font-size: 1.8rem;
    background-color: $color-white-light;
    padding: 2px 4px 2px 4px;
    border-radius: 10px;
    margin-top: 20px;
  }
}

// EditBug Form
.editbugPage {
  height: 95vh;
  width: 100vw;
  background-color: $color-brown-light;
  display: flex;
  flex-direction: column;

  &-content {
    color: $color-brown-dark;
  }

  &-header {
    font-size: 4rem;
  }

  &-lead {
    font-size: 2rem;
  }

  &-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-formgroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:not(:last-child) {
      margin-top: 20px;
    }
  }

  &-label {
    font-size: 1.2rem;
  }

  &-input {
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
    padding: 5px 5px;
  }

  &-textarea {
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 5px 5px;
    width: 300px;
    height: 100px;
  }

  &-form-text {
    font-size: 0.9rem;
  }

  &-submit {
    text-decoration: none;
    color: inherit;
    font-size: 1.8rem;
    background-color: $color-white-light;
    padding: 2px 4px 2px 4px;
    border-radius: 10px;
    margin-top: 20px;
  }
}

// Signin Form
.signinPage {
  height: 95vh;
  width: 100vw;
  background-color: $color-brown-light;
  display: flex;
  flex-direction: column;

  &-content {
    color: $color-brown-dark;
  }

  &-header {
    font-size: 4rem;
  }

  &-lead {
    font-size: 2rem;
  }

  &-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-formgroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:not(:last-child) {
      margin-top: 20px;
    }
  }

  &-label {
    font-size: 1.2rem;
  }

  &-input {
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
    padding: 5px 5px;
  }

  &-form-text {
    font-size: 0.9rem;
  }

  &-submit {
    text-decoration: none;
    color: inherit;
    font-size: 1.8rem;
    background-color: $color-white-light;
    padding: 2px 4px 2px 4px;
    border-radius: 10px;
    margin-top: 20px;
  }
}

// Signup Form
.signupPage {
  height: 95vh;
  width: 100vw;
  background-color: $color-brown-light;
  display: flex;
  flex-direction: column;

  &-content {
    color: $color-brown-dark;
  }

  &-header {
    font-size: 4rem;
  }

  &-lead {
    font-size: 2rem;
  }

  &-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-formgroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:not(:last-child) {
      margin-top: 20px;
    }
  }

  &-label {
    font-size: 1.2rem;
  }

  &-input {
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
    padding: 5px 5px;
  }

  &-form-text {
    font-size: 0.9rem;
  }

  &-submit {
    text-decoration: none;
    color: inherit;
    font-size: 1.8rem;
    background-color: $color-white-light;
    padding: 2px 4px 2px 4px;
    border-radius: 10px;
    margin-top: 20px;
  }
}
